/*导航栏整体设置，避免浮动后换行溢出框框*/
nav {
    text-align: right;
    white-space: nowrap;
    width: 100%;
    height: 58px;
    background: white 0 0;
}

/*navigation为左边导航条目，userMenu为个人中心相关*/
nav a, #userMenu span {
    font-family: 幼圆, monospace;
    font-size: 30px;
    text-decoration: none;
    color: #888888;
}

#navigation a{
    padding-bottom: 8px;
    margin-left: 50px;
}

#navigation a:hover, #userMenu:hover span{
    color: #222222;
    text-shadow: 4px 4px 4px #999999;
    text-decoration: none !important;
}

#userMenu a:hover {
    color: #222222;
    text-shadow: 4px 4px 4px #777777;
}

.currentPage {
    color: #000000;
    border-bottom: 5px solid #000000;
}

#navigation, #userMenu {
    padding-top: 12px;
    padding-bottom: 12px;
    white-space: nowrap;
}

#navigation {
    padding-bottom: 0px;
    text-align: left;
    min-width: 40%;
    margin-right: 50px;
    float: left;
}

#userMenu {
    display: inline-block;
    margin-right: 50px;
    height: 58px;
}

#userMenu a{
    text-decoration: none;
}

#userMenu ul {
    margin-top: 8px;
    right: 30px;
    display: none;
    list-style: none;
    z-index: 10;
}

#userMenu:hover ul, #userMenu ul:hover {
    text-align: left;
    color: #222222;
    text-shadow: 4px 4px 4px #999999;
    display: block;
    position: fixed;
}

#userMenu:hover ul a:hover{
    text-decoration: none;!important;
}

/*icon类设置个人中心链接前的图标*/
.icon{
    border:3px dashed #af926f;
    background-color: rgba(255, 255, 255, 0.2);
    vertical-align: middle;
    width: 36px;
    height: 36px;
}

.icon:hover,#userMenu li:hover .icon{
    border:3px solid #75634a;
}

.currentMenu .icon{
    border:3px solid #75634a;
}

.icon-brand{
    vertical-align: middle;
    width: 44px;
    height: 44px;
}