body {
    height: max-content;
}

/*左半部分工具栏*/
aside{
    max-width: 100%;
}

/*下为浏览图片*/
td {
    width: 33%;
    padding: 8px;
}

table img {
    padding: 4px;
    border: 2px solid #af926f;
    width: 100%;
}